<div class="container">
    <div class="row">
        <div class="col s10 offset-s1 m8 offset-m2 l8 offset-l2">
            <div class="brand">
                <div class="title center-align">
                    信息安全学习记录
                </div>

                <div class="description center-align">
                    <span id="typed"></span>
                    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
                    <script>
                        var typed = new Typed("#typed", {
                            strings: ['{{ SITE_TYPE_CHINESE }}', '{{ SITE_TYPE_ENGLISH }}'],
                            startDelay: 300,
                            typeSpeed: 100,
                            loop: true,
                            backSpeed: 50,
                            showCursor: true
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>