{% extends 'base.html' %}
{% load custom_tag %}
{% block banner %}
<div class="bg-cover pd-header about-cover">
    {% include 'banner.html' %}
</div>
{% endblock %}

{% block custom_style%}
    <style>
        .category-1{
            background-color: #F9EBEA;
        }

        .category-2{
            background-color: #F5EEF8;
        }

        .category-3{
            background-color: #D5F5E3;
        }

        .category-4{
            background-color: #E8F8F5;
        }
        .category-5{
            background-color: #ddf9e7;
        }

        .category-6{
            background-color: #d2d6f8;
        }

        .category-7{
            background-color: #f5deba;
        }

        .category-8{
            background-color: #f8f6c8;
        }

        .category-9{
            background-color: #d8f5c1;
        }

        .category-10{
            background-color: #def8f8;
        }

    </style>
{% endblock %}

{% block contents %}
<main class="content" style="min-height: 783px;">



<div id="category-cloud" class="container chip-container">
    <div class="card">
        <div class="card-content">
            <div class="tag-title center-align">
                <i class="fas fa-bookmark"></i>&nbsp;&nbsp;文章分类
            </div>
            <div class="tag-chips">
                {% for i in categorys %}
                <a href="/ggs/Others/" title="Others: 29">
                    <span class="chip center-align waves-effect waves-light
                             chip-default category-{% random_num %}">{{ i.name }}
                        <span class="tag-length">{{ i.article_set.all | length }}</span>
                    </span>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


    <style type="text/css">
    #category-radar {
        width: 100%;
        height: 360px;
    }
</style>

<div class="container aos-init aos-animate" data-aos="fade-up">
    <div class="card">
        <div id="category-radar" class="card-content" style="-webkit-tap-highlight-color: transparent; user-select: none; position: relative;" _echarts_instance_="ec_1583738871510"><div style="position: relative; overflow: hidden; width: 1077px; height: 312px; padding: 0px; margin: 0px; border-width: 0px; cursor: default;"><canvas data-zr-dom-id="zr_0" width="2154" height="624" style="position: absolute; left: 0px; top: 0px; width: 1077px; height: 312px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); padding: 0px; margin: 0px; border-width: 0px;"></canvas></div><div></div></div>
    </div>
</div>

<script type="text/javascript" src="https://html.sqlsec.com/echarts.min.js"></script>
<script type="text/javascript">
    let radarChart = echarts.init(document.getElementById('category-radar'));



    let option = {
        title: {
            left: 'center',
            text: '文章分类雷达图',
            textStyle: {
                fontWeight: 500,
                fontSize: 22
            }
        },
        tooltip: {},
        radar: {
            name: {
                textStyle: {
                    color: '#3C4858'
                }
            },
            indicator: [{% for i in categorys %}{"name":"{{ i.name }}","max":25},{% endfor %}],
            nameGap: 5,
            center: ['50%','55%'],
            radius: '66%'
        },
        series: [{
            type: 'radar',
            color: ['#3ecf8e'],
            itemStyle: {normal: {areaStyle: {type: 'default'}}},
            data : [
                {
                    value : [{% for i in categorys %}{{ i.article_set.all | length }},{% endfor %}],
                    name : '文章分类数量'
                }
            ]
        }]
    };

    radarChart.setOption(option);
</script>


</main>
{% endblock %}
<!DOCTYPE HTML>
<html lang="zh-CN">


<head>
    <meta charset="utf-8">
    <meta name="keywords" content="分类, 国光,Termux,Web安全,黑苹果">
    <meta name="description" content="分类 | 国光">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="renderer" content="webkit|ie-stand|ie-comp">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <title>分类 | 国光</title>
    <link rel="icon" type="image/png" href="https://image.3001.net/images/20191031/15724874583730.png">

    <link rel="stylesheet" type="text/css" href="https://html.sqlsec.com/all.css">
    <link rel="stylesheet" type="text/css" href="https://html.sqlsec.com/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="https://html.sqlsec.com/aos.css">
    <link rel="stylesheet" type="text/css" href="https://html.sqlsec.com/animate.min.css">
    <link rel="stylesheet" type="text/css" href="https://html.sqlsec.com/lightgallery.min.css">
    <link rel="stylesheet" type="text/css" href="/css/matery.css">
    <link rel="stylesheet" type="text/css" href="/css/my.css">

    <script src="https://html.sqlsec.com/jquery-2.2.0.min.js"></script>
<link rel="stylesheet" href="/css/prism-a11y-dark.css" type="text/css"></head>


<body>
    <header class="navbar-fixed">
    <nav id="headNav" class="bg-color nav-transparent">
        <div id="navContainer" class="nav-wrapper head-container">
            <div class="brand-logo">
                <a href="/" class="waves-effect waves-light">
                    
                    <img src="https://image.3001.net/images/20191031/15724874583730.png" class="logo-img" alt="LOGO">
                    
                    <span class="logo-span">国光</span>
                </a>
            </div>
            

<a href="#" data-target="mobile-nav" class="sidenav-trigger button-collapse"><i class="fas fa-bars"></i></a>
<ul class="right nav-menu">
  
  <li class="hide-on-med-and-down nav-item">
    
    <a href="/" class="waves-effect waves-light">
      
      <i class="fas fa-home" style="zoom: 0.6;"></i>
      
      <span>首页</span>
    </a>
    
  </li>
  
  <li class="hide-on-med-and-down nav-item">
    
    <a href="/ggs/Web/" class="waves-effect waves-light">
      
      <i class="fab fa-internet-explorer" style="zoom: 0.6;"></i>
      
      <span>Web</span>
    </a>
    
  </li>
  
  <li class="hide-on-med-and-down nav-item">
    
    <a href="/ggs/CTF/" class="waves-effect waves-light">
      
      <i class="far fa-flag" style="zoom: 0.6;"></i>
      
      <span>CTF</span>
    </a>
    
  </li>
  
  <li class="hide-on-med-and-down nav-item">
    
    <a href="/ggs/Python/" class="waves-effect waves-light">
      
      <i class="fab fa-python" style="zoom: 0.6;"></i>
      
      <span>Python</span>
    </a>
    
  </li>
  
  <li class="hide-on-med-and-down nav-item">
    
    <a href="/ggs/Others/" class="waves-effect waves-light">
      
      <i class="fas fa-align-left" style="zoom: 0.6;"></i>
      
      <span>Others</span>
    </a>
    
  </li>
  
  <li class="hide-on-med-and-down nav-item">
    
    <a href="http://ctf.njupt.edu.cn/members" target="_blank" rel="noopener" class="waves-effect waves-light">
      
      <i class="fab fa-xing" style="zoom: 0.6;"></i>
      
      <span>X1cT34m</span>
    </a>
    
  </li>
  
  <li class="hide-on-med-and-down nav-item">
    
    <a href="/friends/" class="waves-effect waves-light">
      
      <i class="fab fa-ravelry" style="zoom: 0.6;"></i>
      
      <span>友情链接</span>
    </a>
    
  </li>
  
  <li class="hide-on-med-and-down nav-item">
    
    <a href="/about/" class="waves-effect waves-light">
      
      <i class="fab fa-gg" style="zoom: 0.6;"></i>
      
      <span>关于</span>
    </a>
    
  </li>
  
  <li>
    <a href="#searchModal" class="modal-trigger waves-effect waves-light">
      <i id="searchIcon" class="fas fa-search" title="搜索" style="zoom: 0.85;"></i>
    </a>
  </li>
</ul>

<div id="mobile-nav" class="side-nav sidenav">

    <div class="mobile-head bg-color">
        
        <img src="https://image.3001.net/images/20191031/15724874583730.png" class="logo-img circle responsive-img">
        
        <div class="logo-name">国光</div>
        <div class="logo-desc">
            
            白帽子国光的信息安全学习记录博客
            
        </div>
    </div>

    

    <ul class="menu-list mobile-menu-list">
        
        <li class="m-nav-item">
	  
		<a href="/" class="waves-effect waves-light">
			
			    <i class="fa-fw fas fa-home"></i>
			
			首页
		</a>
          
        </li>
        
        <li class="m-nav-item">
	  
		<a href="/ggs/Web/" class="waves-effect waves-light">
			
			    <i class="fa-fw fab fa-internet-explorer"></i>
			
			Web
		</a>
          
        </li>
        
        <li class="m-nav-item">
	  
		<a href="/ggs/CTF/" class="waves-effect waves-light">
			
			    <i class="fa-fw far fa-flag"></i>
			
			CTF
		</a>
          
        </li>
        
        <li class="m-nav-item">
	  
		<a href="/ggs/Python/" class="waves-effect waves-light">
			
			    <i class="fa-fw fab fa-python"></i>
			
			Python
		</a>
          
        </li>
        
        <li class="m-nav-item">
	  
		<a href="/ggs/Others/" class="waves-effect waves-light">
			
			    <i class="fa-fw fas fa-align-left"></i>
			
			Others
		</a>
          
        </li>
        
        <li class="m-nav-item">
	  
		<a href="http://ctf.njupt.edu.cn/members" target="_blank" rel="noopener" class="waves-effect waves-light">
			
			    <i class="fa-fw fab fa-xing"></i>
			
			X1cT34m
		</a>
          
        </li>
        
        <li class="m-nav-item">
	  
		<a href="/friends/" class="waves-effect waves-light">
			
			    <i class="fa-fw fab fa-ravelry"></i>
			
			友情链接
		</a>
          
        </li>
        
        <li class="m-nav-item">
	  
		<a href="/about/" class="waves-effect waves-light">
			
			    <i class="fa-fw fab fa-gg"></i>
			
			关于
		</a>
          
        </li>
        
        
    </ul>
</div>


        </div>

        
    </nav>

</header>

    <div class="bg-cover pd-header about-cover">
    <div class="container">
    <div class="row">
    <div class="col s10 offset-s1 m8 offset-m2 l8 offset-l2">
        <div class="brand">
            <div class="title center-align">
                
                信息安全学习记录
                
            </div>

            <div class="description center-align">
                
                <span id="typed"></span>
                <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
                <script>
                    var typed = new Typed("#typed", {
                        strings: ['宁静致远', 'The quieter you become, the more you are able to hear'],
                        startDelay: 300,
                        typeSpeed: 100,
                        loop: true,
                        backSpeed: 50,
                        showCursor: true
                    });
                </script>
                
            </div>
        </div>
    </div>
</div>


<script>
    // 每天切换 banner 图.  Switch banner image every day.
    $('.bg-cover').css('background-image', 'url(/medias/banner/' + new Date().getDay() + '.jpg)');
</script>


    </div>
</div>

<main class="content">

    

<div id="category-cloud" class="container chip-container">
    <div class="card">
        <div class="card-content">
            <div class="tag-title center-align">
                <i class="fas fa-bookmark"></i>&nbsp;&nbsp;文章分类
            </div>
            <div class="tag-chips">
                
                
                
                <a href="/ggs/Others/" title="Others: 29">
                    <span class="chip center-align waves-effect waves-light
                             chip-default "
                            style="background-color: #F9EBEA;">Others
                        <span class="tag-length">29</span>
                    </span>
                </a>
                
                
                <a href="/ggs/CTF/" title="CTF: 7">
                    <span class="chip center-align waves-effect waves-light
                             chip-default "
                            style="background-color: #F5EEF8;">CTF
                        <span class="tag-length">7</span>
                    </span>
                </a>
                
                
                <a href="/ggs/Python/" title="Python: 7">
                    <span class="chip center-align waves-effect waves-light
                             chip-default "
                            style="background-color: #D5F5E3;">Python
                        <span class="tag-length">7</span>
                    </span>
                </a>
                
                
                <a href="/ggs/Web/" title="Web: 21">
                    <span class="chip center-align waves-effect waves-light
                             chip-default "
                            style="background-color: #E8F8F5;">Web
                        <span class="tag-length">21</span>
                    </span>
                </a>
                
                
            </div>
        </div>
    </div>
</div>

    
    <style type="text/css">
    #category-radar {
        width: 100%;
        height: 360px;
    }
</style>

<div class="container" data-aos="fade-up">
    <div class="card">
        <div id="category-radar" class="card-content"></div>
    </div>
</div>

<script type="text/javascript" src="https://html.sqlsec.com/echarts.min.js"></script>
<script type="text/javascript">
    let radarChart = echarts.init(document.getElementById('category-radar'));

    

    let option = {
        title: {
            left: 'center',
            text: '文章分类雷达图',
            textStyle: {
                fontWeight: 500,
                fontSize: 22
            }
        },
        tooltip: {},
        radar: {
            name: {
                textStyle: {
                    color: '#3C4858'
                }
            },
            indicator: [{"name":"Others","max":36},{"name":"CTF","max":36},{"name":"Python","max":36},{"name":"Web","max":36}],
            nameGap: 5,
            center: ['50%','55%'],
            radius: '66%'
        },
        series: [{
            type: 'radar',
            color: ['#3ecf8e'],
            itemStyle: {normal: {areaStyle: {type: 'default'}}},
            data : [
                {
                    value : [29,7,7,21],
                    name : '文章分类数量'
                }
            ]
        }]
    };

    radarChart.setOption(option);
</script>
    

</main>


    <footer class="page-footer bg-color">
    <div class="container row center-align">
        <div class="col s12 m8 l8 copy-right">
            Copyright&nbsp;&copy;
            <span id="year">年份</span>
            <a href="https://www.sqlsec.com" target="_blank">国光</a>
            |&nbsp;Powered by&nbsp;<a href="https://hexo.io/" target="_blank" rel="nofollow">Hexo</a>
            |&nbsp;Theme&nbsp;<a href="https://github.com/blinkfox/hexo-theme-matery" target="_blank" rel="nofollow">Matery</a>
            <br>
            
            &nbsp;<i class="fas fa-chart-area"></i>&nbsp;站点总字数:&nbsp;<span
                class="white-color">206.3k</span>&nbsp;字
            
            
            
            
            
            
            <span id="busuanzi_container_site_pv">
                &nbsp;<i class="far fa-eye"></i>&nbsp;总访问量:&nbsp;<span id="busuanzi_value_site_pv"
                    class="white-color"></span>&nbsp;次
            </span>
            
            
            <span id="busuanzi_container_site_uv">
                &nbsp;<i class="fas fa-users"></i>&nbsp;总访问人数:&nbsp;<span id="busuanzi_value_site_uv"
                    class="white-color"></span>&nbsp;人
            </span>
            
            <br>
            
            <span id="sitetime">载入运行时间...</span>
            <script>
                function siteTime() {
                    window.setTimeout("siteTime()", 1000);
                    var seconds = 1000;
                    var minutes = seconds * 60;
                    var hours = minutes * 60;
                    var days = hours * 24;
                    var years = days * 365;
                    var today = new Date();
                    var startYear = "2016";
                    var startMonth = "4";
                    var startDate = "23";
                    var startHour = "0";
                    var startMinute = "0";
                    var startSecond = "0";
                    var todayYear = today.getFullYear();
                    var todayMonth = today.getMonth() + 1;
                    var todayDate = today.getDate();
                    var todayHour = today.getHours();
                    var todayMinute = today.getMinutes();
                    var todaySecond = today.getSeconds();
                    var t1 = Date.UTC(startYear, startMonth, startDate, startHour, startMinute, startSecond);
                    var t2 = Date.UTC(todayYear, todayMonth, todayDate, todayHour, todayMinute, todaySecond);
                    var diff = t2 - t1;
                    var diffYears = Math.floor(diff / years);
                    var diffDays = Math.floor((diff / days) - diffYears * 365);
                    var diffHours = Math.floor((diff - (diffYears * 365 + diffDays) * days) / hours);
                    var diffMinutes = Math.floor((diff - (diffYears * 365 + diffDays) * days - diffHours * hours) /
                        minutes);
                    var diffSeconds = Math.floor((diff - (diffYears * 365 + diffDays) * days - diffHours * hours -
                        diffMinutes * minutes) / seconds);
                    if (startYear == todayYear) {
                        document.getElementById("year").innerHTML = todayYear;
                        document.getElementById("sitetime").innerHTML = "本站已安全运行 " + diffDays + " 天 " + diffHours +
                            " 小时 ";
                    } else {
                        document.getElementById("year").innerHTML = startYear + " - " + todayYear;
                        document.getElementById("sitetime").innerHTML = "本站已安全运行 " + diffYears + " 年 " + diffDays +
                            " 天 " + diffHours + " 小时 ";
                    }
                }
                setInterval(siteTime, 1000);
            </script>
            
            <br>
            
            <span id="icp"><img src="/medias/icp.png" style="vertical-align: text-bottom;" />
                <a href="http://beian.miit.gov.cn" target="_blank" rel="nofollow">苏ICP备19074591号</a>
            </span>
            
        </div>
        <div class="col s12 m4 l4 social-link social-statis">


    <a href="mailto:admin@sqlsec.com" class="tooltipped" target="_blank" data-tooltip="邮件联系我" data-position="top" data-delay="50">
        <i class="fas fa-envelope-open"></i>
    </a>





    <a href="http://www.sqlsec.com/baidusitemap.xml" class="tooltipped" target="_blank" data-tooltip="网站的SiteMap: http://www.sqlsec.com/baidusitemap.xml" data-position="top" data-delay="50">
        <i class="fas fa-sitemap"></i>
    </a>









    <a href="/avs/" class="tooltipped" target="_blank" data-tooltip="文章更新动态" data-position="top" data-delay="50">
        <i class="far fa-calendar-alt"></i>
    </a>



    <a href="/atom.xml" class="tooltipped" target="_blank" data-tooltip="RSS 订阅" data-position="top" data-delay="50">
        <i class="fas fa-rss"></i>
    </a>

</div>
    </div>
</footer>

<div class="progress-bar"></div>


    <!-- 搜索遮罩框 -->
<div id="searchModal" class="modal">
    <div class="modal-content">
        <div class="search-header">
            <span class="title"><i class="fas fa-search"></i>&nbsp;&nbsp;搜索</span>
            <input type="search" id="searchInput" name="s" placeholder="请输入搜索的关键字"
                   class="search-input">
        </div>
        <div id="searchResult"></div>
    </div>
</div>

<script src="/js/search.js"></script>
<script type="text/javascript">
$(function () {
    searchFunc("/" + "search.xml", 'searchInput', 'searchResult');
});
</script>
    <!-- 回到顶部按钮 -->
<div id="backTop" class="top-scroll">
    <a class="btn-floating btn-large waves-effect waves-light" href="#!">
        <i class="fas fa-arrow-up"></i>
    </a>
</div>


    <script src="https://html.sqlsec.com/materialize.min.js"></script>
    <script src="https://html.sqlsec.com/masonry.pkgd.min.js"></script>
    <script src="https://html.sqlsec.com/aos.js"></script>
    <script src="https://html.sqlsec.com/scrollProgress.min.js"></script>
    <script src="https://html.sqlsec.com/lightgallery-all.min.js"></script>
    <script src="/js/matery.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->


    <!-- Baidu Analytics -->


    <!-- Baidu Push -->

<script>
    (function () {
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https') {
            bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
        } else {
            bp.src = 'http://push.zhanzhang.baidu.com/push.js';
        }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
</script>

    
    <script src="https://html.sqlsec.com/clicklove.js" async="async"></script>
    
    
    <script async src="https://html.sqlsec.com/busuanzi.pure.mini.js"></script>
    

    

    
    <script>
        (function (i, s, o, g, r, a, m) {
            i["DaoVoiceObject"] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o), m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            a.charset = "utf-8";
            m.parentNode.insertBefore(a, m)
        })(window, document, "script", ('https:' == document.location.protocol ? 'https:' : 'http:') +
            "//widget.daovoice.io/widget/6984b559.js", "daovoice")
        daovoice('init', {
            app_id: ""
        });
        daovoice('update');
    </script>
    

    

    

    
    
    
    <script src="https://html.sqlsec.com/instantpage.js" type="module"></script>
    

</body>

</html>
