<div class="container paging">
    <div class="row">
        <div class="col s6 m4 l4">
            <a class="left btn-floating btn-large disabled">
                <i class="fas fa-angle-left"></i>
            </a>
        </div>
        <div class="page-info col m4 l4 hide-on-small-only">
            <div class="center-align b-text-gray">1 / 6</div>
        </div>
        <div class="col s6 m4 l4">
            <a href="/page/2/"
               class="right btn-floating btn-large waves-effect waves-light right-color">
                <i class="fas fa-angle-right"></i>
            </a>
        </div>
    </div>
</div>